{% extends "master.html" %}

{% block title %}List of Trees - PhyloCommons{% endblock %}

{% block leftmenu %}
{% include "tree_menu.html" %}
{% endblock %}

{% block nav-trees %}class="active"{% endblock %}

{% block content %}

{% if tree_list %}
<ul>
    {% for tree_id in tree_list %}
    <li>
        <a href='/trees/{{tree_id}}'>{{tree_id}}</a>
    </li>
    {% endfor %}
</ul>

<div class="pagination">
    <ul>
        {% if tree_list.previous_page_number > 1 %}
        <li><a href="?page=1">1</a></li>
        <li><a>...</a></li>
        {% endif %}

        {% if tree_list.has_previous %}
        <li><a href="?page={{ tree_list.previous_page_number }}">{{ tree_list.previous_page_number }}</a></li>    
        {% endif %}
        
        <li class="active"><a>{{ tree_list.number }}</a></li>
        
        {% if tree_list.has_next %}
        <li><a href="?page={{ tree_list.next_page_number }}">{{ tree_list.next_page_number }}</a></li>
        {% endif %}

        {% if tree_list.next_page_number < tree_list.paginator.num_pages %}
        <li><a>...</a></li>
        <li><a href="?page={{ tree_list.paginator.num_pages }}">{{ tree_list.paginator.num_pages }}</a></li>
        {% endif %}
    </ul>
</div>

{% endif %}

{% endblock %}
