{% extends "master.html" %}

{% block title %}List of Trees - PhyloCommons{% endblock %}

{% block leftmenu %}
{% include "tree_menu.html" %}
{% endblock %}

{% block nav-trees %}class="active"{% endblock %}

{% block content %}

{% if form %}

<form action="{% url trees %}" method="post" enctype="multipart/form-data" class="form-inline form-search">
    {% csrf_token %}
    
    <div class='input-append'>
        {{ form.taxa }}
        {{ form.filter }}
        <button class="btn" type="submit">Search</button>
    </div>
</form>
{% endif %}

{% if tree_list %}
<table class='table table-condensed table-striped table-hover table-bordered'>
    {% for tree_id in tree_list %}
    <tr><td>
        <a href='/trees/{{tree_id}}'>{{tree_id}}</a>
    </td></tr>
    {% endfor %}
</table>

<div class="pagination">
    <ul>
        {% for page, link in pages %}

        <li{% if page == tree_list.number %} class="active"{% endif %}>
            <a{% if link and page != tree_list.number %} href="{{link}}"{% endif %}>{{ page }}</a>
        </li>

        {% endfor %}
    </ul>
</div>

{% else %}

<p>No trees were found. Try a different search.</p>

{% endif %}

{% endblock %}
