{% extends "master.html" %}

{% block title %}SVG Tree Viewer - PhyloCommons{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/treelib.css" type="text/css" />
    <script type="text/javascript" src="/static/jquery-svgpan.js" ></script> 
    <script type="text/javascript" src="/static/treelib.js"></script> 
{% endblock %}

{% block nav-trees %}class="active"{% endblock %}

{% block leftmenu %}
{% include "tree_menu.html" %}
{% endblock %}

{% block content %}

{% include "treelib_widget.html" %}

<p id='message' class='muted'></p>
<p id='message2' class='muted'></p>

<input type="hidden" name="newick" id="newick" value=""/>
<input type="hidden" name="tree_src_url" id="tree_src_url" value="{{tree_src}}"/>

<script type="text/javascript">
    $(document).ready(function() {
        $('#message').empty();
        $('#message').append('<p>Loading tree...</p>');
        $('img#loading').show();
        
        $.ajax({
            type: "GET",
            url: $('#tree_src_url').val(),
            success: function(data) {
                $('#message').empty();
                $('#newick').val(data);
                $('#message2').append('<a href="data:text/plaintext,' + 
                                      data + //encodeURIComponent(data) + 
                                      '">Click to download in Newick format</a>'
                                      );
                $('img#loading').hide();
                $('div#treelib-widget').show();
                try {
                    draw_tree('newick', 'circle');
                } catch(e) {
                    $('#message').append("<p class='error'>Error: " + e.message + '</p>');
                    throw e;
                }
            },
            error: function(msg) {
                $('#message').empty();
                $('#message').append("<a>Couldn't load tree. Click here to try again.</a>");
            }
        });
    });
</script>

{% endblock %}
