<div id="treelib-widget">
    <div id="treeContainer" ondblclick="mouse_zoom_in(event);" oncontextmenu="mouse_zoom_out(event); return false">
        <img id="loading" src="/static/img/loading.gif" />

        <div id="treeControls">
            <img src="/static/img/radial.svg" onclick="draw_tree('newick', 'radial')" title="radial tree"/>
            <img src="/static/img/cladogram.svg" onclick="draw_tree('newick', 'cladogram')" title="cladogram"/>
            <img src="/static/img/rectangle.svg" onclick="draw_tree('newick', 'rectanglecladogram')" title="rectangular cladogram"/>
            <img src="/static/img/phylogram.svg" onclick="draw_tree('newick', 'phylogram')" title="phylogram"/>
            <img src="/static/img/circle.svg" onclick="draw_tree('newick', 'circle')" title="circular cladogram"/>
            <img src="/static/img/circlephylogram.svg" onclick="draw_tree('newick', 'circlephylogram')" title="circular phylogram"/>
            <a id="download" href-lang="image/svg+xml" href="" download="tree.svg"><img src="/static/img/download.svg" title="download SVG image"/></a>
        </div>
        
        <ul id="zoomControls">
            <li class="zoom-in" onmousedown="start_zoom(); zoom_in()" ondblclick="event.stopPropagation()" onmouseup="stop_zoom();" onmouseout="stop_zoom();" />
            <li class="zoom-out" onmousedown="start_zoom(); zoom_out()" ondblclick="event.stopPropagation()" onmouseup="stop_zoom();" onmouseout="stop_zoom();" />
            <li class="pan-up" onmousedown="pan_btn('u')" ondblclick="event.stopPropagation()" onmouseup="stop_pan();" onmouseout="stop_pan();" />
            <li class="pan-left" onmousedown="pan_btn('l')" ondblclick="event.stopPropagation()" onmouseup="stop_pan();" onmouseout="stop_pan();" />
            <li class="pan-right" onmousedown="pan_btn('r')" ondblclick="event.stopPropagation()" onmouseup="stop_pan();" onmouseout="stop_pan();" />
            <li class="pan-down" onmousedown="pan_btn('d')" ondblclick="event.stopPropagation()" onmouseup="stop_pan();" onmouseout="stop_pan();" />
        </ul>
        <svg id="svg" xmlns="http://www.w3.org/2000/svg" version="1.1">
            <g id="viewport">
            </g>
        </svg>
    </div>
</div>

