<div id="treelib-widget">
    <div id="treeContainer" ondblclick="mouse_zoom_in(event);" oncontextmenu="mouse_zoom_out(event); return false">
        <img id="loading" src="/static/loading.gif" />

        <div id="treeControls">
            <img src="/static/radial.svg" onclick="draw_tree('newick', 'radial')"/>
            <img src="/static/cladogram.svg" onclick="draw_tree('newick', 'cladogram')"/>
            <img src="/static/rectangle.svg" onclick="draw_tree('newick', 'rectanglecladogram')"/>
            <img src="/static/phylogram.svg" onclick="draw_tree('newick', 'phylogram')"/>
            <img src="/static/circle.svg" onclick="draw_tree('newick', 'circle')"/>
            <img src="/static/circlephylogram.svg" onclick="draw_tree('newick', 'circlephylogram')"/>
            <img src="/static/download.svg" onclick="download_svg()"/>
        </div>
        
        <ul id="zoomControls">
            <li class="zoom-in" onmousedown="start_zoom(); zoom_in()" ondblclick="event.stopPropagation()" onmouseup="stop_zoom();" onmouseout="stop_zoom();" />
            <li class="zoom-out" onmousedown="start_zoom(); zoom_out()" ondblclick="event.stopPropagation()" onmouseup="stop_zoom();" onmouseout="stop_zoom();" />
            <li class="pan-up" onmousedown="pan_btn('u')" ondblclick="event.stopPropagation()" onmouseup="stop_pan();" onmouseout="stop_pan();" />
            <li class="pan-left" onmousedown="pan_btn('l')" ondblclick="event.stopPropagation()" onmouseup="stop_pan();" onmouseout="stop_pan();" />
            <li class="pan-right" onmousedown="pan_btn('r')" ondblclick="event.stopPropagation()" onmouseup="stop_pan();" onmouseout="stop_pan();" />
            <li class="pan-down" onmousedown="pan_btn('d')" ondblclick="event.stopPropagation()" onmouseup="stop_pan();" onmouseout="stop_pan();" />
        </ul>
        <svg id="svg" xmlns="http://www.w3.org/2000/svg" version="1.1">
            <g id="viewport">
            </g>
        </svg>
    </div>
</div>

