{% extends "master.html" %}

{% block title %}{{tree_id}} - PhyloCommons{% endblock %}

{% block nav-trees %}class="active"{% endblock %}

{% block leftmenu %}
{% include "tree_menu.html" %}
{% endblock %}

{% block content %}

<table class="table">
    <tr><td>URI</td><td>
    {{tree_uri}}
    </td></tr>
    
    <tr><td>Download</td><td>
    {% for format in formats %}
    <a href='/trees/{{tree_id}}/download?format={{format}}' class='btn'>{{format}}</a>
    {% endfor %}
    </td></tr>
    
    {% if taxa %}
    <tr><td>Labeled taxa</td><td>{{taxa}}</td></tr>
    {% endif %}

    {% for cite in citation %}
    <tr><td>Citation</td><td><a href="{{cite}}">{{cite}}</a></td></tr>
    {% endfor %}

    <tr><td>Tree Viewer</td><td>
        <a href="/trees/{{tree_id}}/view">
            <img class="img-polaroid" src='/static/img/rectangle.svg' width="100px" height="100px" />
        </a>
    </td></tr>

    <tr><td>Query</td><td>
        <a href="/query/?tree_id={{tree_id}}">Click to create a subtree from members of this tree</a>
    </td></tr>
</table>

{% if obj_info %}
<table class='table table-compact'>
    <thead><tr><th>Property</th><th>Value</th></tr></thead>
    {% for v, o in obj_info %}
    <tr>
    <td>{% if 'http://' in v or 'https://' in v %}<a href="{{v}}">{{v}}</a>{% else %}{{ v }}{% endif %}</td>
    <td>{% if 'http://' in o or 'https://' in o %}<a href="{{o}}">{{o}}</a>{% else %}{{ o }}{% endif %}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}
