{% extends "master.html" %}

{% block leftmenu %}
{% include "home_menu.html" %}
{% endblock %}

{% block nav-user %}class="active"{% endblock %}

{% block content %}

{% if user %}

<h3>{{ profile.user.username }}</h3>

{{ profile.profile_text_html|safe }}

{% if request.user.username == profile.user.username %}
    <p>
        <a href='/user/edit/' class='btn btn-block'>
            Edit your profile
        </a>
    </p>
    <p>
        <a href='/accounts/password/change/' class='btn btn-block'>
            Change your password
        </a>
    </p>
{% endif %}

{% else %}
<p>No user was found with that name.</p>
{% endif %}

{% endblock %}
