body {
color:#061C37;
font-size:100%;
background-color: #f4f4f4;
}

#main.container {
padding:10px;
}

#header {
background-color: #f4f4f4;
height:150px;
width:100%;
}

#header .navbar {
padding:100px 0 0 0;
}

#header img.logo {
float:left;
color:#aaa;
font-size:43px;
left:14px;
vertical-align:middle;
padding-top:20px;
}

#header img.nescent {
float:right;
}

.blue {
color:#00f;
}

table form {
width:100%;
}

td input, td textarea, td select, form input, form textarea, form select {
width: 100%;
padding: 0;
}

ul.errorlist li {
color:#f00;
font-weight: bold;
padding-top: 10px;
padding-bottom: 10px;
}

label, button {
font-weight: bold;
}

pre{
white-space:pre-wrap;
}

.footer{
width:100%;
text-align:center;
}

.footer .container{
padding:20px 0 10px 0;
background-color: #eee;
}

.sidebar .nav{
background:#fff;
}
