body {
color:#061C37;
font-size:100%;
background-color: #f4f4f4;
}

#main.container {
padding:10px;
}

#header {
background-color: #f4f4f4;
height:150px;
width:100%;
}

#header .navbar {
padding:100px 0 0 0;
}

#header h1 {
float:left;
color:#aaa;
font-size:43px;
left:14px;
vertical-align:middle;
}

#header img {
float:right;
}

.blue {
color:#00f;
}

table {
width:100%;
}

table td {
padding: 5px;
border-top: solid 1px #000;
border-bottom: solid 1px #000;
}

table thead {
font-weight: bold;
}

td input[type="text"], td textarea, td select {
width: 100%;
padding: 0;
}

ul.errorlist li {
color:#f00;
font-weight: bold;
padding-top: 10px;
padding-bottom: 10px;
}

label, input[type="submit"] {
font-weight: bold;
}

pre{
white-space:pre-wrap;
}

.footer{
width:100%;
text-align:center;
}

.footer .container{
padding:20px 0 10px 0;
background-color: #eee;
}

.sidebar .nav{
background:#fff;
}
