{% extends "master.html" %}

{% block title %}PhyloCommons, a community phylogenetic database{% endblock %}

{% block leftmenu %}
{% include "home_menu.html" %}
{% endblock %}

{% block nav-about %}class="active"{% endblock %}

{% block content %}

<p>
    <strong>PhyloCommons</strong> is a community-edited, annotated repository of
    phylogenetic trees. It simplifies the reuse of published trees and
    aggregates knowledge about each tree that can be used to inform evolutionary
    analyses.
</p>
<p>
    <strong>This is an alpha release; PhyloCommons may change rapidly before a
    stable version is released.</strong> 
</p>
<p>
    PhyloCommons uses semantic web technologies including RDF to enable quick, efficient 
    reuse of trees. PhyloCommons leverages the open source 
    <a href='http://biopython.org'>BioPython project</a> to convert trees in various 
    formats into RDF. These trees are then stored in Virtuoso, a database optized 
    for RDF storage. This makes common tasks such as querying for specific trees 
    based on metadata (year published, reconstruction method) or creating 
    subtrees from a list of taxa very efficient.
</p>
<p>
    <strong>Make PhyloCommons better</strong> - you can contribute to PhyloCommons by:
    <ul>
        <li><a href='{% url add %}'>Submitting new trees</a></li>
        <li><a href='{% url tree_list %}'>Adding or correcting metadata on existing trees</a></li>
        <li><a href='https://github.com/bendmorris/phylocommons/issues' target='_blank'>Suggesting enhancements or reporting bugs</a></li>
        <li><a href='https://github.com/bendmorris/phylocommons/' target='_blank'>Forking PhyloCommons on GitHub, adding new features, and submitting a pull request</a></li>
    </ul>
</p>
<p>
    PhyloCommons builds on tools that were developed at two
    <a href='http://phylotastic.org/'>Phylotastic</a> hackathons.
</p>
<p>
    View the list of <a href='{% url contributors %}'>contributors</a>.
</p>
<p>
    PhyloCommons is open source and is available on 
    <a href='https://github.com/bendmorris/phylocommons'>GitHub</a>.
</p>

{% endblock %}
