{% extends "master.html" %}

{% block title %}Contributors - PhyloCommons{% endblock %}

{% block leftmenu %}
{% include "home_menu.html" %}
{% endblock %}

{% block nav-about %}class="active"{% endblock %}

{% block content %}

<table class='table table-border'>
    <thead>
        <td>Name</td>
        <td>Role</td>
    </thead>
    <tr>
        <td width=25%>
            Ben Morris<br/>
            (<a href='mailto:ben@bendmorris.com'>mail</a>,
            <a href='http://www.bendmorris.com'>web</a>)
        </td>
        <td>Lead developer</td>
    </tr>
    
    <tr>
        <td>Hilmar Lapp</td>
        <td>Project advisor</td>
    </tr>
    
    <tr>
        <td>
            Jim Balhoff, <br/>
            Karen Cranston, <br/>
            Mark Holder, <br/>
            Hilmar Lapp, <br/>
            Enrico Pontelli
        </td>
        <td>
            Treestore group, Phylotastic hackathon
        </td>
    </tr>

</table>

<br/><br/>

<p>
    The development of PhyloCommons was supported by the 
    <a href='http://www.nescent.org'>National Evolutionary Synthesis Center (NESCent)</a>
    and includes components developed at two
    <a href='http://www.phylotastic.org'>Phylotastic</a> hackathons.
</p>

{% endblock %}
