{% extends "master.html" %}

{% block title %}Contact Us - PhyloCommons{% endblock %}

{% block leftmenu %}
{% include "home_menu.html" %}
{% endblock %}

{% block nav-contact %}class="active"{% endblock %}

{% block content %}

<p>
    Bug reports, feature requests, or suggestions should be directed to the
    <a href="https://github.com/NESCent/phylocommons/issues">issue tracker on 
    GitHub</a>. 
</p>

<p>
    For general discussion, please use the 
    <a href="https://groups.google.com/forum/#!forum/phylocommons">PhyloCommons 
    Google Group</a>. 
</p>

{% endblock %}
