{% extends "master.html" %}

{% block title %}Query - PhyloCommons{% endblock %}

{% block leftmenu %}
{% include "tree_menu.html" %}
{% endblock %}

{% block nav-query %}class="active"{% endblock %}

{% block content %}

{% if tree_list %}

<form action="{% url query %}" method="post" enctype="multipart/form-data" class="form-horizontal">
    {% csrf_token %}

{% for k, v in form_fields.items %}
<input type="hidden" name="{{k}}" value="{{v}}" />
{% endfor %}

<table class='table table-condensed table-hover table-bordered'>
    <thead><tr><th>Tree</th><th>Matches</th></th></thead>
    
    {% for tree_id, match_count in tree_list %}
    <tr class="{% if "_taxonomy" in tree_id  %}success{% elif match_count == max_match_count %}info{% else %}warning{% endif %}"><td>
        <a href='/trees/{{tree_id}}'>{{tree_id}}</a>
    </td><td>
        {{match_count}}/{{max_match_count}}
        <button class="btn {% if "_taxonomy" in tree_id  %}btn-success{% elif match_count == max_match_count %}btn-primary{% else %}btn-warning{% endif %} pull-right" id="tree" name="tree" value="{{tree_id}}">Get tree</button>
    </td></tr>
    {% endfor %}
</table>

</form>

{% endif %}

{% endblock %}
