{% extends "master.html" %}

{% block title %}Contributors - PhyloFile{% endblock %}

{% block leftmenu %}
{% include "home_menu.html" %}
{% endblock %}

{% block content %}

<table>
    <thead>
        <td><strong>Name</strong></td>
        <td><strong>Role</strong></td>
    </thead>
    <tr>
        <td width=25%>
            Ben Morris<br/>
            (<a href='mailto:ben@bendmorris.com'>mail</a>,
            <a href='http://www.bendmorris.com'>web</a>)
        </td>
        <td>Lead developer</td>
    </tr>
    
    <tr>
        <td>Hilmar Lapp</td>
        <td>Project advisor</td>
    </tr>
    
    <tr>
        <td>
            Jim Balhoff, <br/>
            Karen Cranston, <br/>
            Mark Holder, <br/>
            Hilmar Lapp, <br/>
            Enrico Pontelli
        </td>
        <td>
            Conception/implementation of an RDF-based treestore. (Phylotastic 1)
        </td>
    </tr>
    
    <tr>
        <td>
            Joachim Baran, <br/>
            Hilmar Lapp, <br/>
            Enrico Pontelli, <br/>
            Arlin Stoltzfus, <br/>
            Andrea Thomer, <br/>
            Ramona Walls
        </td>
        <td>
            Annotation of trees and design of an annotation pipeline. (Phylotastic 2)
        </td>
    </tr>
    
    <tr>
        <td>
            Karen Cranston, <br/>
            Cody Hinchliff, <br/>
            Mark Holder, <br/>
            Naim Matasci, <br/>
            Ben Morris, <br/>
            Shannon Oliver, <br/>
            Rutger Vos, <br/>
            Derrick Zwicki
        </td>
        <td>
            Design of phylogenetic database communication standards and architecture. (Phylotastic 2)
        </td>
    </tr>
</table>

<br/><br/>

<p>
    The development of PhyloFile was supported by the 
    <a href='http://www.nescent.org'>National Evolutionary Synthesis Center (NESCent)</a>
    and includes components developed at two
    <a href='http://www.phylotastic.org'>Phylotastic</a> hackathons.
</p>

{% endblock %}
