{% extends "master.html" %}

{% block title %}Submit a Tree - PhyloCommons{% endblock %}

{% block leftmenu %}
{% include "tree_menu.html" %}
{% endblock %}

{% block nav-trees %}class="active"{% endblock %}

{% block content %}

<form class="form form-horizontal" action="{% url add %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    {{ form.non_field_errors }}
    
    <div class="control-group">
        <label class="control-label" for='q'>Tree ID</label>
        <div class="controls">
            <div class="input-prepend">
            <span class="add-on">{{ tree_uri }}</span>
            </div>
            {{ form.tree_id }}
            {{ form.tree_id.errors }}
        </div>
    </div>
        
    <div class="control-group">
        <label class="control-label" for='format'>Tree format</label>
        <div class="controls">
            {{ form.format }}
            {{ form.format.errors }}
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label" for='format'>Tree file</label>
        <div class="controls">
            {{ form.tree_file }}
            {{ form.tree_file.errors }}
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for='format'>DOI (optional)</label>
        <div class="controls">
            {{ form.doi }}
            {{ form.doi.errors }}
        </div>
    </div>
    
    <div class="control-group">
        <div class="controls">
            <button class="btn btn-primary" />Submit</button>
        </div>
    </div>
    
</form>

<br/><br/>

<dl class="dl-horizontal">
    <dt>Tree ID</dt>
    <dd>
        Give your tree a short but descriptive ID. You can use letters, numbers,
        dashes, and underscores. Tree IDs are case sensitive.

        This will be used to generate the tree's URI:

        {{ domain }}/trees/(tree_id)
    </dd>
    
    <dt>Tree format</dt>
    <dd>
        The format of the tree being added. If the tree file is unable to be
        parsed, it will not be added and will instead return an error.
    </dd>
    
    <dt>Tree file:</dt>
    <dd>
        A text file containing the tree(s).
    </dd>
</em>

{% endblock%}
