{% extends "master.html" %}

{% block title %}Submit a Tree - PhyloFile{% endblock %}

{% block leftmenu %}
{% include "tree_menu.html" %}
{% endblock %}

{% block content %}

<form action="{% url add %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    {{ form.non_field_errors }}
    
    <table>
        <tr><td>
            <label for='q'>Tree ID</label>
        </td><td>
            {{ form.tree_id }}
            {{ form.tree_id.errors }}
        </td></tr>
        
        <tr><td>
            <label for='format'>Tree format</label>
        </td><td>
            {{ form.format }}
            {{ form.format.errors }}
        </td></tr>
        
        <tr><td>
            <label for='format'>Tree file</label>
        </td><td>
            {{ form.tree_file }}
            {{ form.tree_file.errors }}
        </td></tr>
        
        <tfoot><td></td><td><br/><br/><input type="submit" value="Submit" /></td></tfoot>
    </table>
    
</form>

<br/><br/>

<em>
    <p>
        <strong>Tree ID:</strong>
        Give your tree a short but descriptive ID. You can use letters, numbers,
        dashes, and underscores. Tree IDs are case sensitive.
    </p>
    <p>
        This will be used to generate the tree's URI:
    </p>
    <p>
        {{ domain }}/trees/(tree_id)
    </p>
    
    <p>
        <strong>Tree format:</strong>
        The format of the tree being added. If the tree file is unable to be
        parsed, it will not be added and will instead return an error.
    </p>
    
    <p>
        <strong>Tree file:</strong>
        A text file containing the tree(s).
    </p>
</em>

{% endblock%}
