{% extends "master.html" %}

{% block title %}Thank you! - PhyloFile{% endblock %}

{% block leftmenu %}
{% include "tree_menu.html" %}
{% endblock %}

{% block content %}

<p>
    Thank you for submitting your tree!
</p>
<p>
    Your submission will be reviewed by the moderators and should show up in 
    the PhyloFile database soon. You'll receive a notification when it's ready.
    If there are any issues that we can't resolve, we'll be in touch using the
    e-mail address listed for your account.
</p>

{% endblock%}
