{% extends "master.html" %}

{% block title %}Uploaded Trees - PhyloCommons{% endblock %}

{% block leftmenu %}
{% include "tree_menu.html" %}
{% endblock %}

{% block nav-trees %}class="active"{% endblock %}

{% block content %}

{% if files %}
    <table>
        <thead>
            <td>Tree ID</td>
            <td>Date</td>
            <td>User</td>
            <td>Format</td>                
            <td>File</td>
            <td>Size</td>
            <td>Action</td>
        </thead>
    {% for file in files %}
        <form action='/trees/uploads/{{ file.id }}/' method='POST'>
        
        {% csrf_token %}
        <tr>
            <td>
                <input name='tree_id' value='{{ file.tree_id }}' />
            </td>
            <td>
                {{ file.upload_time }}
            </td>
            <td>
                {{ file.uploaded_by.username }}
                {% if request.user.username == document.uploaded_by.username %}
                <i>(me)</i>
                {% endif %}
            </td>
            <td>
                {{ file.format }}
            </td>
            <td>
                {{ file.tree_file_name }}<br/>
                <input type='submit' name='action' value='View file' />
                <input type='submit' name='action' value='Test file' />
            </td>
            <td>
                {{ file.tree_file_size }}
            </td>
            <td>
                <input type='submit' name='action' value='Approve' /><br/>
                <input type='submit' name='action' value='Reject' /><br/>
            </td>
        </tr>
        
        </form>
    {% endfor %}
    </table>
    
{% else %}

    <p><i>(No uploaded trees.)</i></p>
    
{% endif %}

{% endblock%}
